.nav-ul{
    padding: 5px;
    margin: 0px;
    background-color: skyblue;
  }
  .nav-ul li{
     display: inline-block;
     padding: 10px;;
  }
  .nav-ul a{
    color:#fff;
    text-decoration: none;
    padding: 5px;
  }
  /* setting log in and signup to right side of the website */
  .nav-right{
    text-align: right;
  }
  .logo{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: left;
    margin-top: 3px;
    margin-left: 10px;
  }