.product-list{
    text-align: center;
    margin-top: 50px;
}

.product-list ul li{
    display: inline-block;
    width: 180px;
    border: 1px solid skyblue;
    padding: 5px;
}
.search-product-box{
    width: 400px;
    margin: 20px;
    height: 38px;
    border: solid 1px skyblue;
}