.register{
    margin-left: 30%;
}
.appButton{
    background-color: skyblue;
    margin: 20px;
    width: 150px;
    padding: 10px;
    background-color: skyblue;
    border: solid 1px;
    cursor: pointer;
}
input{
  padding: 7px;
  display: block;
  border: 1px solid skyblue;
  width: 300px;
  margin: 20px;
}
.name{
  display: block;
  color: red;
  margin-top: -20px;
  margin-left: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  font-style: italic;
  background-position: 10px;
}

.input-type{
  box-shadow: 0 0 3px #CC0000;
  border-color: red;
  position: relative;
  animation: shake .1s linear;
  animation-iteration-count: 5;
}
@keyframes shake {
  0% { left: -5px; }
  100% { right: -5px; }
}
.input-label{
  box-shadow: 0 0 3px #CC0000;
  color: #CC0000;
  height: fit-content;
  width: fit-content;
  
  border-color: red;
  position: relative;
  animation: shake .1s linear;
  animation-iteration-count: 5;
}